<h1>About Atlas Help</h1>

<p>
    This documentation seeks to help answer common questions as well as gain understanding
    and familiarity with Atlas. It is primarily designed for Atlas users.
</p>

<p>
    For those unfamiliar with Atlas, the best place to start is the
    <a href="/homepage">homepage</a>.
    Additionally, the following pages describe in detail how each
    HashiCorp product interacts with Atlas.
</p>

<ul>
    <li><a href="/learn/vagrant">Vagrant</a></li>
    <li><a href="/learn/packer">Packer</a></li>
    <li><a href="/learn/consul">Consul</a></li>
    <li><a href="/learn/terraform">Terraform</a></li>
</ul>

<p>
    This documentation is always being updated and improved.
    Please email feedback to <a href="mailto:support@hashicorp.com">support@hashicorp.com</a>
    or <a href="https://github.com/hashicorp/atlas-help">send a pull request</a>.
</p>
