<h1>About Atlas Help</h1>

<p>
    This documentation seeks to help answer common questions as well as gain understanding
    and familiarity with Atlas. It is primarily designed for Atlas users. You can
    browse various categories with the navigation on the left.
</p>


<h2>Where to Start</h2>
<p>
    For those unfamiliar with Atlas, the best place to start is the
    <a href="/homepage">homepage</a>.
    Additionally, the following pages describe in detail how each
    HashiCorp product interacts with Atlas.
</p>

<ul>
    <li><a href="/learn/vagrant">Vagrant</a></li>
    <li><a href="/learn/packer">Packer</a></li>
    <li><a href="/learn/consul">Consul</a></li>
    <li><a href="/learn/terraform">Terraform</a></li>
</ul>

<p>If you're looking for technical documentation, the <a href="/help/overview/learning-about-atlas">
learning page</a> covers the best places to start out.</p>

<h2>Documentation Feedback</h2>

<p>
    This documentation is always being updated and improved.
    Please email feedback to <a href="mailto:support@hashicorp.com">support@hashicorp.com</a>
    or <a href="https://github.com/hashicorp/atlas-help">send a pull request</a>.
</p>
